<div class="col-md-10">
  <h2> List of Persons</h2>

  <button type="button" class="btn btn-primary mb-2" (click)="openModal(addTemplate)">Add Person</button>
  <input class="ml-5" type="text" placeholder="Search by name..." [(ngModel)]="term" >
  
  
  
  <ng-template #addTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Person</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">Cancel</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-md-6">
        <form (ngSubmit)="onSubmit(f,addTemplate)" #f="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input [(ngModel)]="nome" type="name"  placeholder="Your Name" name="nome" class="form-control" id="nome">
          </div>

          <div class="form-group">
            <label for="dataNascimento">Date of Birth</label>
            <div >
              <input [(ngModel)]="dataNascimento" type="text" placeholder="Datepicker" class="form-control" bsDatepicker name="dataNascimento">
            </div>
          </div>

          <div class="form-group">
            <label for="identificacao">Identifier:</label>
            <input [(ngModel)]="identificacao" placeholder="Identifier" name="identificacao" class="form-control" id="identificacao">
          </div>
          <div class="form-group">
            <label for="sexo">Gender:</label>
            <select [(ngModel)]="sexo"  name="sexo" class="form-control" id="sexo">
              <option value="male">M</option>
              <option value="female">F</option>
            </select>
          </div>
          <div class="form-group">
            <label for="endereco">Address:</label>
            <input [(ngModel)]="endereco" placeholder="Address" name="endereco" class="form-control" id="endereco">
          </div>

          <button type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>
  </ng-template>


  
  <ng-template #editTemplate>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Person</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">Cancel</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-6">
          <form (ngSubmit)="onSubmitEdit(f,editTemplate)" #f="ngForm">
              <div class="form-group">
                  <label for="name">ID</label>
                  <input [(ngModel)]="editPerson.id" type="text"   name="id" class="form-control" id="id"  disabled>
                </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input [(ngModel)]="editPerson.nome" type="text"  name="nome" class="form-control" id="nome">
            </div>
  
            <div class="form-group">
              <label for="dataNascimento">Date of Birth</label>
              <div >
                <input [ngModel]="editPerson.dataNascimento | date:'yyyy-mm-dd' " (ngModelChange)="dateChanged($event)" type="text" class="form-control"  name="dataNascimento" bsDatepicker>
              </div>
            </div>
  
            <div class="form-group">
              <label for="identificacao">Identifier:</label>
              <input [(ngModel)]="editPerson.identificacao"  name="identificacao" class="form-control" id="identificacao" (value)="identificacao">
            </div>
            <div class="form-group">
              <label for="sexo">Gender:</label>
              <select class="form-control" id="sexo" name="sexo" [(ngModel)]="editPerson.sexo">
                <option value="male">M</option>
                <option value="female">F</option>
              </select>
            </div>
            <div class="form-group">
              <label for="endereco">Address:</label>
              <input [(ngModel)]="editPerson.endereco" placeholder="Address" name="endereco" class="form-control" id="endereco" (value)="endereco">
            </div>
  
            <button type="submit" class="btn btn-success">Save</button>
          </form>
        </div>
      </div>
    </ng-template>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Name</th>
        <th>Date Of Birth</th>
        <th>Identifier</th>
        <th>Gender</th>
        <th >Adress</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let person of persons |filter:term ">
        <td [(ngModel)]="person.id" class="hidden" name="id" ngDefaultControl>{{ person.id }} </td>
        <td [(ngModel)]="person.nome" name="nome" ngDefaultControl>{{ person.nome }}</td>
        <td [(ngModel)]="person.dataNascimento" name="dataNascimento" ngDefaultControl>{{ person.dataNascimento }} </td>
        <td [(ngModel)]="person.identificacao" name="identificacao" ngDefaultControl>{{person.identificacao}}</td>
        <td [(ngModel)]="person.sexo" name="sexo" ngDefaultControl>{{person.sexo}}</td>
        <td [(ngModel)]="person.endereco" name="endereco" ngDefaultControl>{{ person.endereco }}</td>
        <td><button class="btn btn-danger" (click)="deletePerson(person)"> Delete</button>
          <button class="btn btn-danger" (click)="openEditModal(editTemplate, person)" style="margin-left: 20px;"> Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
