<h2 class="ml-3"> Stats</h2>
<div class="row md-10 justify-content-center align-items-center" style="min-width: 100vw; min-height: 100vh">
    
    <div class="col" style="display: block; height:500px;width:500px;">
        <canvas *ngIf= "show==true" baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
        ></canvas>
        <h4 style="margin-left: 6cm; margin-top: 1cm" >Persons by Age</h4>
    </div>
    <div class="col" style="display: block; height:500px;width:500px;">
        <canvas *ngIf= "show==true" baseChart
            [data]="pieChartData1"
            [labels]="pieChartLabels1"
            [chartType]="pieChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
        ></canvas>
        <h4 style="margin-left: 6cm; margin-top: 1cm">Persons by Gender</h4>
    </div>
</div>