<div class="col-md-10">
  
    <button type="button" class="btn btn-primary mt-3 mb-3" routerLink="/persons">Manage Persons</button>
    <button type="button" class="btn btn-primary mt-3 mb-3" routerLink="/charts" style="margin-left: 20px;">Charts</button>
  
<router-outlet></router-outlet>
    </div>